.roadMap{
    margin-top: 80px; 
    margin-bottom: 250px;
    .cardBlock{
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        width: 370px;
        min-height: 420px;
        padding: 30px;
        display: flex;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;
    }
}



@media screen and (max-width: 1080px) {
    .cardBlock{
        margin-right: 10px !important;  
        // width: 100% !important;
    }
    .roadImg{
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .cardBlock{
        margin-right: 0px !important; 
        height: 380px !important; 
    }
    .cardMainBlock{
        flex-wrap: wrap
    }
}