html,
body {
  background-image: url('../assets/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: "Helvetica" sans-serif;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
